machines: {}
applications:
  ceph-osd:
    to: []
    storage:
      osd-devices: 20GB
  ceph-mon:
    to: []
  ceph-radosgw:
    to: []
  cinder:
    expose: True
    to: []
  glance:
    expose: True
    to: []
  keystone:
    expose: True
    to: []
  mysql-innodb-cluster:
    to: []
  neutron-api:
    expose: True
    to: []
  nova-cloud-controller:
    expose: True
    to: []
  nova-compute:
    constraints: mem=4G
    annotations:
    to: []
  ntp:
  openstack-dashboard:
    expose: True
    to: []
  placement:
    expose: True
    to: []
  ovn-central:
    to: []
  ovn-chassis:
    to: []
  rabbitmq-server:
    to: []
  vault:
    to: []
